Harmony/TiVo_Switch.json
[
    {
        "id": "ab20d5c6e10b6da2",
        "type": "switch",
        "z": "32da95830fbdf18a",
        "name": "TiVo",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "nav_left$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "nav_right$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "nav_up$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "nav_down$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "nav_ok$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "pwr$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "back$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "tivo$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "guide$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "vol_up$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "vol_down$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "chn_up$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "chn_down$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "play$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "pause$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "record$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "rew$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "ffwd$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "skipfwd$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "skipback$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "act_tivo$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "act_off$",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "numpad$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 24,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "4e363401be83baf9"
            ],
            [
                "b829a03e5883a0f4"
            ],
            [
                "e9ee404b4664d2c8"
            ],
            [
                "04c16dce4115d614"
            ],
            [
                "96bb4c127d87106b"
            ],
            [
                "8f7606d7837a9fb5"
            ],
            [
                "7ba101bef3853cbc"
            ],
            [
                "53b15b637aa4b2e4"
            ],
            [
                "500f62bee53a8caf"
            ],
            [
                "0fd9f93a0d9c8fdd"
            ],
            [
                "45d34a12e21898ac"
            ],
            [
                "967e3f72b331cab0"
            ],
            [
                "8fe8e7673d98a407"
            ],
            [
                "d26a503266fb3338"
            ],
            [
                "e56d073104f75dec"
            ],
            [
                "765e19abb50202a3"
            ],
            [
                "c00152c33e916908"
            ],
            [
                "849419e3a98c8eb3"
            ],
            [
                "7015a9e9ab0395e5"
            ],
            [
                "b19b3398fe9962f9"
            ],
            [
                "2b23b07f0957bfd1"
            ],
            [
                "8aad986241de5839"
            ],
            [
                "865ed7aeb0defcec"
            ],
            [
                "0bfd10c7355b6df9"
            ]
        ]
    },
    {
        "id": "0bfd10c7355b6df9",
        "type": "debug",
        "z": "32da95830fbdf18a",
        "name": "TiVo Ignored",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "579d5ede45501f0c",
        "type": "comment",
        "z": "32da95830fbdf18a",
        "name": "Log Ignored Commands",
        "info": "",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4e363401be83baf9",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Left",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22DirectionLeft%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b829a03e5883a0f4",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Right",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22DirectionRight%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e9ee404b4664d2c8",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Up",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22DirectionUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "04c16dce4115d614",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Down",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22DirectionDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "96bb4c127d87106b",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "OK",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Select%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "8f7606d7837a9fb5",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "PWR",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22PowerToggle%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba101bef3853cbc",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Exit",
        "server": "be591102caef2984",
        "activity": null,
        "label": "",
        "command": "%7B%22command%22::%22Back%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "53b15b637aa4b2e4",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Menu",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22TiVo%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "500f62bee53a8caf",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Guide",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Guide%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0fd9f93a0d9c8fdd",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Vol Up",
        "server": "be591102caef2984",
        "activity": null,
        "label": "",
        "command": "%7B%22command%22::%22VolumeUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "45d34a12e21898ac",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Vol Down",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22VolumeDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 760,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "967e3f72b331cab0",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Chn Up",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22ChannelUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "8fe8e7673d98a407",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Chn Down",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22ChannelDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 770,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d26a503266fb3338",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Play",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Play%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e56d073104f75dec",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Pause",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Pause%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "765e19abb50202a3",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Record",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Record%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c00152c33e916908",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "Rewind",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22Rewind%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 760,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "849419e3a98c8eb3",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "FastForward",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22FastForward%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 770,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7015a9e9ab0395e5",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "SkipForward",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22SkipForward%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 770,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b19b3398fe9962f9",
        "type": "H command",
        "z": "32da95830fbdf18a",
        "name": "SkipBackward",
        "server": "be591102caef2984",
        "activity": "65547026",
        "harmony_type": "dev",
        "label": "TiVo Mini",
        "command": "%7B%22command%22::%22SkipBack%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2265547026%22%7D",
        "repeat": "1",
        "presstimestamp": 0,
        "releasetimestamp": 50,
        "delay": 0,
        "x": 780,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2b23b07f0957bfd1",
        "type": "H activity",
        "z": "32da95830fbdf18a",
        "name": "Activity TiVo",
        "server": "be591102caef2984",
        "activity": "41486591",
        "label": "Watch TiVo",
        "x": 770,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "8aad986241de5839",
        "type": "H activity",
        "z": "32da95830fbdf18a",
        "name": "Activity Off",
        "server": "be591102caef2984",
        "activity": "-1",
        "label": "PowerOff",
        "x": 770,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5c02eb16c024d639",
        "type": "link in",
        "z": "32da95830fbdf18a",
        "name": "TiVo Switch",
        "links": [],
        "x": 235,
        "y": 400,
        "wires": [
            [
                "ab20d5c6e10b6da2"
            ]
        ]
    },
    {
        "id": "865ed7aeb0defcec",
        "type": "link out",
        "z": "32da95830fbdf18a",
        "name": "to NumPad Switch",
        "mode": "link",
        "links": [
            "725b2ae8f363b040"
        ],
        "x": 715,
        "y": 940,
        "wires": []
    },
    {
        "id": "be591102caef2984",
        "type": "harmony-server",
        "name": "Back Office",
        "ip": "172.29.1.69"
    }
]